!!!
%html{:lang=>'en'}
  %head
    %meta{:charset=>'utf-8'}
    %title Tinker &mdash; Social Code Collaboration
    %link{:rel=>'stylesheet', :href=>'/css/normalize.css'}
    %link{:rel=>'stylesheet', :href=>'/css/base.css'}
    %link{:rel=>'stylesheet', :href=>'/css/codemirror.css'}
  %body
    %script{:type=>'tinker/properties'}= tinker.properties.to_json
    %script{:type=>'tinker/markup'}= CGI.escapeHTML tinker.markup || ''
    %script{:type=>'tinker/style'}= CGI.escapeHTML tinker.style || ''
    %script{:type=>'tinker/interaction'}= CGI.escapeHTML tinker.interaction || ''
    %script{:type=>'urls'}= urls.to_json
    %script{:type=>'frameworks'}= libraries.to_json
    %script{:src=>'/js/mootools.js'}
    %script{:src=>'/js/mootools-more.js'}
    %script{:src=>'/js/codemirror.js'}
    %script{:src=>'/js/syntax/xml.js'}
    %script{:src=>'/js/syntax/css.js'}
    %script{:src=>'/js/syntax/javascript.js'}
    %script{:src=>'/js/tinker.core.js'}
    %script Tinker.init({theme: 'light'});

